body {
  min-height: 2000px;
  font-size: 17px;
}

.navbar-static-top {
    margin-bottom: 0px;
}

.navbar-default {
	background-color: #1f5b67 !important;
	border-color: #3c763d !important;
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-default .navbar-brand:hover {
	color: #333;
}

.navbar-default .navbar-nav>li>a{
	color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #333;
}

.btn.btn-lg .btn-primary {
	background-color: #b85d5b !important;
	border-color: #FFF !important;
}

