body {
  min-height: 2000px;
}

.navbar-static-top {
    margin-bottom: 0px;
}

.navbar-default {
	background-color: #b85d5b !important;
	border-color: #337ab7 !important;
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-default .navbar-brand:hover {
	color: #333;
}

.navbar-default .navbar-nav>li>a{
	color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #333;
}