{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class = 'col-sm-6 col-sm-offset-3'>
	<h2 class = 'text-align-center'><strong>Registrate</strong></h2>
<form method="post" action=".">

  {% csrf_token %}
  {{ form|crispy}}
  <input class = 'btn btn-primary' type="submit" value="{% trans 'Enviar' %}" />
  <br><br>
  <p class = 'text-align-center'>{% trans "Ya tienes una cuenta" %}? <a href="{% url 'auth_login' %}">{% trans "Iniciar Sesión" %}</a>!</p>
</form>
{% endblock %}