{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

<style>
{% block style %}
.jumbotron {
  background-color: #9dc642 !important;
}

.cuadrado {
     width: 1510px; 
     height: 800px; 
     border: 2px solid #555;
}

.cuadrado-2 {
     width: 1520px; 
     height: 300px; 
     border: 1px solid #555;
     background: #394448;
}
    

{% endblock %}
</style>

{% block content %}




<div class="jumbotron">
<div class=row>
  <h2 class="text-align-center"> Despreocúpate, nosotros nos encargamos del peronal para tu finca</h2>
  <h5 class="text-align-center"></h5>
  <br>
  <div class='col-sm-6'>
        <div class="container">
        <iframe width="600" height="405" src='{% static "img/dfi.jpg" %}' frameborder="0" allowfullscreen></iframe>
        </div>
            
  </div>
    <div class= 'col-sm-6'>
         <h4>   Has parte de Concafer y disfruta de: </h4>
       
         
    </div>
    <div class="col-sm-6 col-sm-offset-0">
        <p>- No tendras que preocuparse de conseguir personal para su finca, ya que mediante la Cooperativa podrán solicitar el tipo y la cantidad de personas que requieren para su finca. </p>
        <p>- Podrás conseguir insumos que necesiten para su finca, y encontrar empresas que le puedan comercializar sus productos.</p>
        <p>- Capacitación en productos agricola.</p>
    </div>
</div>
</div>
    <div style="margin: 10px 0 0 5px;">
    <div class="cuadrado">
    <div class= 'col-sm-8 col-sm-offset-3'">
        <br>
        <h5 > Completa los datos, para contactarnos contigo lo más pronto posible. </h5>
    </div>
  <div class= 'col-sm-3 col-sm-offset-4'>
    <form method="POST">{% csrf_token %}
        
    {{ reg_cotizacion|crispy }}
    <br>
    <input class='btn btn-primary' type="submit" value="¡Cotiza ya!" style="width: 360px; height: 40px"/>
    <br>
    
    <br>
    </form>
  </div>
  </div>
  </div>

<div class="cuadrado-2">
    <div id="wrap">
    <!-- Begin page content -->
      <div class="container"
        <div class="page-header">
          <br>
          <h3 style="color: #fff";>Concafer Colombia Network</h3>
          <!--<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>-->
          <p><a style="color: #fff"; href="http://www.coopcafer.com/">Coopcafer</a></p>
          <p><a style="color: #fff"; href="https://www.federaciondecafeteros.org/clientes/es/que_hacemos/cooperativas_de_caficultores/">Federacion de cafeteros</a></p>
      </div>
   
    </div>
          <div class='text-align-center'>
          <p><a style="color: #fff"; href="#">Políticas de uso</a> | <a style="color: #fff"; href="#">Protección de datos</a></p>
          </div>
      <div id="footer">
        <div class="container">
          <p class="text-muted credit">2017 Concafer Colombia </p> 
          <!--<p class="text-muted credit">Concafer<a href="http://martinbean.co.uk/">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>-->
        </div>
      </div> 
  </div>
{% endblock %}